<!-- <nav class="navbar navbar-expand-lg navbar-dark header-dark py-3">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="#">
      <img src="../../assets/images/logos/logo_1.png" width="100px" />
    </a>

    <button
      class="navbar-toggler"
      data-bs-toggle="collapse"
      data-bs-target="#mainNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item"><a class="nav-link" href="#">Buy</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Projects</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Resources</a></li>
        <li class="nav-item">
          <a class="nav-link badge-nav" href="#">Data Intelligence</a>
        </li>
      </ul>

      <div class="d-flex gap-2">
        <button class="btn btn-outline-warning">Advertise</button>
        <button class="btn btn-danger">Sell Property</button>
        <button class="btn btn-light">Login</button>
      </div>
    </div>
  </div>
</nav> -->
<!-- Location Dropdown added here for large screens -->
<!-- <div class="dropdown me-auto d-none d-md-block">
        <button
          class="btn btn-light dropdown-toggle border-0 py-2 px-3 rounded-xl transition-colors duration-200 hover:bg-white/10"
          type="button"
          id="locationDropdown"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          style="background: none"
        >
          <i class="fas fa-map-marker-alt text-indigo-400"></i> Hyderabad<i
            class="fas fa-angle-down ms-2 text-indigo-400"
          ></i>
        </button>
        <ul
          class="dropdown-menu dropdown-menu-light rounded-xl shadow-lg"
          aria-labelledby="locationDropdown"
        >
          <li><a class="dropdown-item" href="#">Hyderabad</a></li>
          <li><a class="dropdown-item" href="#">Chennai</a></li>
          <li><a class="dropdown-item" href="#">Mumbai</a></li>
          <li><a class="dropdown-item" href="#">Bengaluru</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li><a class="dropdown-item" href="#">All Cities</a></li>
        </ul>
      </div> -->
<!-- End Location Dropdown -->

<div class="header">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light flex-wrap">
      <div class="mobile-header">
        <a
          class="navbar-brand font-bold text-xl p-0 mt-1 header-logo"
          routerLink="/home"
        >
          <img src="../../assets/images/logos/logo_white.png" />
        </a>

        <div class="mobile-header-search align-items-left">
          <app-search
            [placeholder]="'Search'"
            [onlyInputSearch]="'yes'"
            ngModel="selectedOption"
            name="selectedOption"
            ngDefaultControl
            (selectionChange)="onSelectionChange($event)"
          ></app-search>
        </div>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse mobile-menu" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" href="#">Buy</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Projects</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Resources</a></li>
        </ul>
        <ul class="navbar-nav mx-auto" *ngIf="!isHomepage">
          <li
            class="nav-item dropdown px-4 hide_in_mobile"
            style="padding-left: 0 !important"
          >
            <a
              class="nav-link dropdown-toggle p-0 hover:text-indigo-400"
              href="#"
              id="propertyTypeDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Property Types
              <i class="fas fa-angle-down ms-2 text-indigo-400"></i>
            </a>
            <ul
              class="dropdown-menu dropdown-menu-light rounded-xl shadow-lg"
              aria-labelledby="propertyTypeDropdown"
            >
              <li *ngFor="let type of propertyTypes">
                <a
                  class="dropdown-item"
                  href="javascript:void(0)"
                  (click)="goToSearch({ 'property-type': type.short_name })"
                  >{{ type.name }}</a
                >
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown px-4 hide_in_mobile">
            <a
              class="nav-link dropdown-toggle p-0 hover:text-indigo-400"
              href="#"
              id="priceRangeDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Price Range <i class="fas fa-angle-down ms-2 text-indigo-400"></i>
            </a>
            <ul
              class="dropdown-menu dropdown-menu-light rounded-xl shadow-lg"
              aria-labelledby="priceRangeDropdown"
            >
              <li *ngFor="let range of priceRanges">
                <a
                  class="dropdown-item"
                  href="javascript:void(0)"
                  (click)="goToSearch({ 'price-range': range.short_name })"
                  >{{ range.label }}</a
                >
              </li>
            </ul>
          </li>

          <li>
            <app-search
              [placeholder]="'Search'"
              [onlyInputSearch]="'yes'"
              ngModel="selectedOption"
              name="selectedOption"
              ngDefaultControl
              (selectionChange)="onSelectionChange($event)"
            ></app-search>
          </li>
        </ul>
        <div class="d-flex gap-2 align-items-right ms-auto header-action-right">
          <div class="">
            <!-- <a class="btn btn-outline-warning">Advertise</a> -->
            <a
              *ngIf="isAuthenticated"
              class="btn btn-danger mr-2"
              href="javascript:void()"
              routerLink="/seller"
              routerLinkActive="active"
              >Sell a Property</a
            >
            <a
              *ngIf="!isAuthenticated"
              class="btn btn-bordered mr-2"
              href="javascript:void()"
              (click)="openLogin()"
              >Sell a Property</a
            >
          </div>
          <div class="position-relative">
            <a
              *ngIf="!isAuthenticated"
              class="btn btn-bordered"
              href="javascript:void()"
              (click)="openLogin()"
              >Sign up or Log in</a
            >
            <a
              *ngIf="isAuthenticated"
              class="btn btn btn-bordered"
              id="userDropdown"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              ><i class="fas fa-user"></i>Hello Swamy!</a
            >
            <ul
              *ngIf="isAuthenticated"
              class="dropdown-menu dropdown-menu-light rounded-xl shadow-lg"
              aria-labelledby="locationDropdown"
            >
              <li class="dropdown-item">
                <a class="nav-link" routerLink="/profile">Profile</a>
              </li>
              <li class="dropdown-item">
                <a class="nav-link" href="javascript:void()" (click)="logout()"
                  >Logout</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
  <div class="container">
    <div class="navbar-header">
      <a href="#" class="navbar-brand me-4">
        <img src="../../assets/images/logos/logo.png" />
      </a>
      <div class="dropdown me-auto d-none d-md-block">
        <button
          class="btn dropdown-toggle border-0 py-2 px-3 rounded-xl transition-colors duration-200 hover:bg-white/10"
          type="button"
          id="locationDropdown"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          style="background: none"
        >
          <i class="fas fa-map-marker-alt me-2 text-indigo-400"></i> New York
        </button>
        <ul
          class="dropdown-menu dropdown-menu-dark rounded-xl shadow-lg"
          aria-labelledby="locationDropdown"
        >
          <li><a class="dropdown-item" href="#">New York</a></li>
          <li><a class="dropdown-item" href="#">Los Angeles</a></li>
          <li><a class="dropdown-item" href="#">Miami</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li><a class="dropdown-item" href="#">All Cities</a></li>
        </ul>
      </div>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarText"
        aria-controls="navbarText"
        aria-expanded="false"
        aria-label="Toggle navigation"
        (click)="collapsed = !collapsed"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" [class.collapse]="collapsed">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            href="#"
            routerLinkActive="active"
            routerLink="/home"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            href="#"
            routerLinkActive="active"
            routerLink="/properties"
            >Buy</a
          >
        </li>
      </ul> 
      <ul class="navbar-nav nav-right me-right mb-2 mb-lg-0 ms-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            href="#"
            routerLink="/seller"
            routerLinkActive="active"
            >Seller?</a
          >
        </li>
        <li class="nav-item" *ngIf="isAuthenticated">
          <a class="nav-link" href="#" (click)="logout()">Logout</a>
        </li>
        <li class="nav-item" *ngIf="!isAuthenticated">
          <a class="nav-link" href="#" routerLink="/login">Sign In</a>
        </li>
        <li class="nav-item" *ngIf="!isAuthenticated">
          <a class="nav-link" href="#" routerLink="/signup">Sign Up</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->
</div>
