.forgot-container {
  max-width: 400px;
  margin: auto;
}

.otp-boxes {
  display: flex;
  justify-content: start;
  gap: 10px;
  margin-top: 20px;
}

.otp-input {
  width: 45px;
  height: 55px;
  font-size: 22px;
  text-align: center;
  border: 2px solid #ddd;
  border-radius: 8px;
}

.otp-input:focus {
  border-color: #28a745;
  outline: none;
}
