<div class="container">
  <div class="relative mt-5 mb-5">
    <div class="row">
      <div class="col-md-12 col-md-offset-3">
        <h2>Forgot Password</h2>

        <!-- Phone Input -->
        <div *ngIf="step === 1">
          <input
            type="text"
            placeholder="Enter phone number"
            [(ngModel)]="phone"
            name="phone"
            class="form-control"
          />

          <button
            class="btn btn-primary mt-3"
            (click)="sendOtp(phone)"
            [disabled]="!phone || phone.length != 10"
          >
            Send OTP
          </button>
        </div>

        <!-- OTP Section -->
        <div *ngIf="step === 2">
          <h4>Enter OTP</h4>

          <div class="otp-boxes">
            <input
              *ngFor="let box of otpDigits; let i = index"
              #otpInput
              maxlength="1"
              type="text"
              class="otp-input"
              (input)="onOtpInput($event, i)"
              (keydown)="onKeyDown($event, i)"
              (paste)="onPaste($event)"
            />
          </div>

          <button
            class="btn btn-success mt-3"
            (click)="verifyOtp()"
            [disabled]="otp.length !== 4"
          >
            Verify OTP {{ otp.length }}
          </button>

          <div class="resend">
            <span *ngIf="countdown > 0"> Resend OTP in {{ countdown }}s </span>

            <button
              *ngIf="countdown === 0"
              (click)="resendOtp()"
              class="btn btn-link"
            >
              Resend OTP
            </button>
          </div>
        </div>

        <!-- Reset Password -->
        <div *ngIf="step === 3">
          <h4>Set New Password</h4>

          <input
            type="password"
            placeholder="New Password"
            [(ngModel)]="password"
            name="password"
            class="form-control"
          />
          <input
            type="password"
            placeholder="Confirm Password"
            [(ngModel)]="confirmPassword"
            class="form-control mt-2"
          />
          <div
            class="text-danger mt-1"
            *ngIf="password && confirmPassword && password !== confirmPassword"
          >
            Passwords do not match
          </div>

          <button
            class="btn btn-primary mt-3"
            (click)="resetPassword()"
            [disabled]="!password || password !== confirmPassword"
          >
            Reset Password
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
