.modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: auto;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  animation: fadeIn 0.3s ease-in-out;
}

.modal {
  padding: 1.5rem;
  border-radius: 12px;
  width: 100%;
  max-width: 40%;
  animation: slideIn 0.3s ease-in-out;
  right: 0;
  left: auto;
}
h2 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

input {
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

@keyframes fadeIn {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

@keyframes slideIn {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .modal {
    max-width: none;
  }
}
