<div class="homepage-content">
  <div class="homepage-banner">
    <div class="container">
      <!-- <section class="text-center">
        <h1 class="display-5 fw-bold">
          Invest smart, earn more
          <h4>Earn cashback on your assests purchase.</h4>
        </h1>
      </section> -->
      <div class="wpb_wrapper mt-5">
        <h2
          data-wow-delay="100ms"
          data-wow-offset="70"
          class="section-title wow fadeInUp"
        >
          <small>Offering the whole range of properties</small>
          <span>What are you looking for? We have it.</span>
        </h2>
      </div>

      <div class="search-bar-inhome">
        <app-search
          [placeholder]="'Search'"
          [onlyInputSearch]="'no'"
          ngModel="selectedOption"
          name="selectedOption"
          ngDefaultControl
          (selectionChange)="onSelectionChange($event)"
        ></app-search>
      </div>
    </div>
  </div>

  <div class="properties_list mb-5">
    <div class="container">
      <div class="mt-3 mb-5 border-radius-none">
        <div class="row">
          <div class="col-md-8">
            <h2 class="text-2xl font-bold text-foreground sm:text-3xl">
              Featured Listings
            </h2>
            <p class="mt-1 text-sm text-muted-foreground">
              Hand-picked properties for you
            </p>
          </div>
          <div class="col-md-4 text-md-end mt-3 mt-md-0">
            <a class="btn btn-sm btn-danger" href="/search"
              >View all
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-arrow-right h-4 w-4"
              >
                <path d="M5 12h14"></path>
                <path d="m12 5 7 7-7 7"></path></svg
            ></a>
          </div>
        </div>
        <app-properties></app-properties>
      </div>
    </div>
  </div>
</div>
